.mainTasks {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.task {
  width: 900px;
  background: #262626;
  border: 1px solid #333333;
  padding: 20px;
  border-radius: 8px;
}

.line {
  text-decoration: line-through;
  color: rgba(204, 204, 204, 0.555);
}

.mainDeleted {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -40px;
}

.deletedButton {
  background: transparent;
  border: none;
  color: #ccc;
}

.input {
  cursor: pointer;
}
